.cardContainerHeader img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}
.cardContainerHeader {
  width: 100%;
  margin-bottom: 5%;
}
.cardContainerFooter {
  width: 100%;
}
.title {
  margin: 1% 0;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.rating {
  width: 30%;
  display: flex;
  align-items: center;
}

#star {
  width: 5px;
}
.details h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.details h4 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.801);
  font-weight: normal;
}
.rating h4 {
  margin-left: 5px;
}
.cardLinkStyle {
  text-decoration: none;
  color: black;
  max-width: 25%;
  background-color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 0 1px black;
}
.cardLinkStyle:hover {
  box-shadow: 0 0 2px black;
}
@media screen and (max-width: 1000px) {
  .cardLinkStyle {
    max-width: 90%;
    width: 300px;
  }
}
